BOT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxx
SOURCE_CHAT_ID=@kanalingiz
TARGET_CHAT_ID=-100xxxxxxxxxx
ADMIN_IDS=123456789
POST_TIMES=07:00,09:00,11:00,13:00,15:00,17:00,19:00,21:00
TIMEZONE=Asia/Tashkent
NO_REPEAT_HOURS=24
SEND_MODE=forward
DATA_FILE=data.json
